<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='./css/normalize.css')}}">
    <link rel="stylesheet" type= "text/css" href="{{url_for('static', filename='./css/styles.css')}}">

</head>

<body id="bodyhome">

    <!-- Parte superior das páginas -->
    <div class="topo">
        <img src="../static/imagens/logo.png" alt="logo">
    
            <div>
                <a href="/">Home |</a>
                <a href="/quemsomos">Quem Somos |</a>
                <a href="/contato">Contato</a>
            </div>
    
    </div>

    {% block conteudo %}

    {% endblock %}
    
    <!-- Parte inferior das páginas -->
    <h4>Todos os direitos reservados</h4>

</body>
</html>