    {% extends "base.html" %}

    {% block conteudo %}

    <div>
         <!-- Background -->
        <style>
            body{background-image: url(../static/imagens/fundo.png);}
        </style>

        <!-- Corpo da página home -->
        <div class="capa">
            <img src="../static/imagens/capa.png" alt="capa">
        </div>
        
        <h2>Sobre a universidade</h2>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis unde, beatae corrupti quibusdam dolores adipisci deserunt repellat dignissimos incidunt ullam ea, sunt, expedita quaerat dolorum animi cumque eligendi in quo! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus, sint quibusdam eligendi inventore fugiat cum earum! Aperiam accusantium aliquid vel dolorem nulla perferendis suscipit adipisci delectus. Iusto ut eveniet rem.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus quia cumque enim doloribus pariatur voluptates architecto rerum nam quas fugiat, saepe repudiandae, dolore quasi quos? Commodi, quam perferendis! Aspernatur, omnis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde magni veniam dolorem corrupti dolore ipsa ut quis quisquam similique corporis sit cumque velit veritatis voluptate ab, ipsum, quaerat ipsam perspiciatis!</p>
    
    </div>

    {% endblock %}