    {% extends "base.html" %}

    {% block conteudo %}

    <div>
        <!-- Background -->
        <style>
            body{background-image: url(../static/imagens/fundo2.png);}
        </style>
        <!-- Corpo da página QuemSomos -->
        <h2>Quem Somos</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, omnis totam accusamus aspernatur amet itaque dolore voluptatibus corrupti esse quas iste sapiente sunt odio ipsam recusandae repellat minus aliquid dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quidem doloribus, eaque rerum nulla recusandae vitae molestiae veniam earum excepturi incidunt, eos accusantium laborum quia ut, optio ex. Quod, aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim tempora provident, a quo dicta et ipsum est minima nam, impedit nihil consequuntur porro ducimus iure amet odit odio, illo aliquid.</p>
    
        <div>
            <h2>5 motivos para estudar</h2>
            <div class="topicos">
                <p>1. Material sempre atualizado</p>  
                <p>2. Tablets em sala de aula</p>   
                <p>3. Professores renomados</p>
                <p>4. Universidade bem avaliada</p>
                <p>5. Ótima localização</p>  
            </div>
        </div>
        
        <hr>
    
        <h2>Objetivos</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor omnis temporibus odio eligendi. Tempora expedita, rerum optio quod iste provident quasi, a fugit atque at unde necessitatibus harum est rem? Lorem ipsum dolor sit amet consectetur adipisicing elit. At cum quam iure maxime placeat explicabo quo, perferendis amet illum commodi odio dignissimos et saepe voluptatibus, deleniti ut aspernatur. Cupiditate, eius?</p>
    
    </div>

    {% endblock %}